#change{
    margin-top:3em;
    margin-left:100px;
}

#join{
    margin-left:80px;
}

#padding1{
    margin-top:50px;
}

#padding{
    margin-top:80px;
}

#il{
    margin-top: 6em;
}

#nav{
    margin-right:-70px;
}

#description{
    height:300px;
}